html,
body {
    margin: 0;
    padding: 0;
    color: navy;
    text-align: center;
    background-color:#9ea4ce;
    
}

.app {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    margin: 200px;
    align-items: center;

}

.container {

    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;

    margin: auto;
    align-items: center;
    box-shadow: 0 0 0 1px black;
    border: 3.4px solid navy;

    border-radius: 20px;

}

input,
button {
    width: 20vw;
    padding: 0.5em;
    margin: 0.5em;
    box-sizing: border-box;
    border-radius: 100px;
}

input {
    border: 3.4px solid navy;
    text-align: center;
    font-family: sans-serif;
    font-size: 1rem;
    background-color: #9ea4ce;

}

input::placeholder{
    color: black;
}

button {
    align-items: center;
    appearance: none;
    background-color: #3EB2FD;
    background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
    background-size: calc(100% + 20px) calc(100% + 20px);
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    /* border: 3.4px solid navy; */
    font-size: 1rem;
    height: auto;
    justify-content: center;
    line-height: 1.5;
    padding: 6px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color .2s, background-position .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}

button:active,
button:focus {
    outline: none;
}

button:hover {
    background-position: -20px -20px;
}

.button-21:focus:not(:active) {
    box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}
